@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D99F3;

    display: grid;
    place-items: center;

    height: 100vh;
}

#container {


    color: #232627;
    background-color: #EFF0F1;

    box-shadow: 15px 15px #232627;

    width: 50vw;
    height: 50vh;  
}

#content {
    padding: 20px;
    margin: 20px;

    height: calc(80% - 80px);

    border:  1px solid;
    border-image:   linear-gradient(339.5deg, white 50%, #232627 50%) 1;

    color: #232627;

    font-family: 'Ubuntu Mono', monospace;

    font-size: 20px;
}

#back {
    margin-left: 80px;

    color: #232627;
   

    font-family: 'Ubuntu Mono', monospace;

    font-size: 20px;

}

#title {
    height: 10%;

    color: #1D99F3;

    width: 100%;
    text-align: center;

    font-family: 'Ubuntu Mono', monospace;

    font-size: 20px;

}